torch @ https://download.pytorch.org/whl/cu124/torch-2.6.0%2Bcu124-cp311-cp311-linux_x86_64.whl
# torch==2.6.0
transformers==4.50.3
pandas==2.2.2
numpy==2.0.2
scikit-learn==1.6.1
tqdm==4.67.1
matplotlib==3.10.0
seaborn==0.13.2
nltk==3.9.1
regex==2024.11.6